# Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# MongoDB Database Connection
MONGO_URI=mongodb://ansaritamanna23102006_db_user:6bhxrr2QV2MQNujd@ac-rxfc5zs-shard-00-00.kurfa88.mongodb.net:27017,ac-rxfc5zs-shard-00-01.kurfa88.mongodb.net:27017,ac-rxfc5zs-shard-00-02.kurfa88.mongodb.net:27017/?ssl=true&replicaSet=atlas-uqwa3o-shard-0&authSource=admin&appName=BGMI
MONGODB_URI=mongodb://ansaritamanna23102006_db_user:6bhxrr2QV2MQNujd@ac-rxfc5zs-shard-00-00.kurfa88.mongodb.net:27017,ac-rxfc5zs-shard-00-01.kurfa88.mongodb.net:27017,ac-rxfc5zs-shard-00-02.kurfa88.mongodb.net:27017/?ssl=true&replicaSet=atlas-uqwa3o-shard-0&authSource=admin&appName=BGMI

# JWT Secret Key
JWT_SECRET=supersecretbgmiesportssecretkey123!

# Cloudinary Configuration (Image & Proof Uploads)
CLOUDINARY_CLOUD_NAME=deohheehp
CLOUDINARY_API_KEY=541616184167278
CLOUDINARY_API_SECRET=YTx_U5iVzBU0F6lxllYXhQ1F7oE

# Gmail SMTP Email Configuration (Verified & Tested for Live Delivery)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=obaidullahshaikh07@gmail.com
SMTP_PASS=socylrasnkuoqlgr
FROM_NAME=BGMI Esports Championship
FROM_EMAIL=obaidullahshaikh07@gmail.com