# Dependencies
node_modules/

# Environment files & examples
.env
.env*
.env.example
.env*.example
.env.example.*
*.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.env.staging
.env.vault

# Uploaded assets
uploads/

# Log files
*.log
logs/

# OS & Editor metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
